body {
    background-color: green;
    color:black;
    margin: 0 auto;
    width:100%;
}

.header{
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: auto;
}

#label1,#input1{
  
    margin-right: 20px;
    margin-bottom: 10px;

}

.card{
    display: flex;
    background-color: white;
    
    margin-top: 20px; 
    width: 18vh;
    height: 25vh;
    margin:10px;
    border-radius: 2vh;
    box-shadow: 10px 5px 15px black;
}

.icono1{
    padding:0px;
    margin: 0px;
    font-size: 6vh;
    position: relative;
    top:0%;
    left: 5%;
}

.numero{
    padding:0px;
    margin: 0px;
    align-self: center;    
    font-size: 8vh;
    position: relative;
    top:-12%;
    left: 0%;
    
   
   
}

.icono2{
    padding:0px;
    margin: 0px;
    font-size: 6vh;
    position: relative;
    top:-22%;
    left: 70%;
    
    
    
    
}